<style>
input[type=url] {
  border: 2px solid blue;
  border-radius: 4px;
}
input[type=submit] {
  border: 2px solid blue;
  border-radius: 4px;
}

</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


{% block content %}
<div class="row row row-fluid">
	<div class="wpb_column columns small-12 medium-12">
		<div class="vc_column-inner  ">
			<div class="wpb_wrapper">

<h2 style="text-align: center;font-family: Arial, Helvetica, sans-serif;"><u>Fakebot AI: An AI for detecting fake news</u></h2>

<form  method="get" >
 <div  
    class="buttonHolder"> <div id="div_id_entryURL" class="form-group" style="margin-left: 10px;font-family: Arial, Helvetica, sans-serif;"> <label style="margin-bottom: 10px;margin-left: 20px;font-size: large;" for="id_entryURL" class="col-form-label  requiredField">
                URL of news article </label> <div class=""> 
                <input type="url" style="width: 600px;height: 30px;margin-bottom: 10px;margin-top: 10px;margin-left: 20px;" name="u" class="urlinput form-control" maxlength="200" id="id_entryURL"required > </div> </div> 
                <input type="submit" name="submit" value="Analyze" class="btn btn-dark" id="submit-id-submit" style="align-self: center;margin-left: 30px;"/>

</div> </form>
<h3 style="text-align: center;">Results will take a few seconds to load</h3>

<br>

<br>
			</div>
		</div>
	</div>
</div>
<hr>


{% endblock %}