<style>
input[type=url] {
  border: 2px solid blue;
  border-radius: 4px;
}
input[type=submit] {
  border: 2px solid blue;
  border-radius: 4px;
}

</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/css/bootstrap-slider.min.css" />



{% block content %}
<div class="row row row-fluid">
	<div class="wpb_column columns small-12 medium-12">
		<div class="vc_column-inner  ">
			<div class="wpb_wrapper">

<h2 style="text-align: center;">NewsBot AI: An AI for detecting fake news</h2>

<form  method="get" >
 <div  
    class="buttonHolder"> <div id="div_id_entryURL" class="form-group"> <label for="id_entryURL" class="col-form-label  requiredField">
                URL of news article<span class="asteriskField">*</span> </label> <div class=""> 
                <input type="url" name="u" class="urlinput form-control" maxlength="200" id="id_entryURL" required> </div> </div> <input type="submit"
    name="submit"
    value="Analyze"
    
        class="btn btn-primary btn btn-primary"
        id="submit-id-submit"
    
    
    />

</div> </form>
<h3 style="text-align: center;">Results will take a few seconds to load</h3>

<br><br>

<br><br><br>
			</div>
		</div>
	</div>
</div>


{% endblock %}